.followButton {
    width: 130px;
    height: 40px;
    cursor: pointer;
    background-color: green;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    transition: .2s ease-in-out;
    &:before {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
        height: 50px;
        width: 50px;
        position: absolute;
        top: -8px;
        left: -75px;
        transform: skewX(-45deg);
    }
    &:hover {
        background: rgb(39, 244, 39);
        &:before {
            left: 150px;
            transition: .5s ease-in-out;
        }
    }
}

.unsubscribeButton {
    background-color: rgb(163, 14, 14);
    &:hover {
        background: rgb(253, 87, 87);
    }
}
