@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.alreadySubscribedPeopleAndTitleContainer {
    width: 39%;
    display: flex;
    flex-direction: column;
}

.subscribedPeopleSectionContainer {
    display: flex;
}

.subscribedPeopleTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    margin-top: 19px;
    padding-left: 10px;
}

.subscribedPersonLink {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    transition: .3s ease;
    &:hover {
        color: aqua;
    }
}

.linkToSubscribedPersonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}