a {
  text-decoration: none;
}

.App {
  display: flex;
  justify-content: space-between;
}

.post-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  box-sizing: border-box;
  width: 100%;
  // max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.postImageContainer {
  margin: 0 auto;
  width: 408px; 
  height: 500px;
}

.post img {
  // max-width: 100%;
  // height: auto;
  // border-radius: 10px;
  // width: 100%;
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.people-list-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people-list {
  width: 100%;
}

