@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.postListTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}

.likeButton {
    padding: 0;
    border: none;
    background-color: transparent;
}

.svgNotLikedYet,
.svgAlreadyLiked {
    transition: .2s ease;
}

.likeButton:hover .svgNotLikedYet{
    fill: rgb(142, 142, 142)
}

.likeButton:hover .svgAlreadyLiked{
    transform: scale(1.1);
}

.likeButton svg {
    cursor: pointer;
}

.buttonsAndInputsContainer {
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.inputAddComment {
    width: 194px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0 15px 15px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 10px;
    transition: .3s ease;
    &:focus {
        border: 1px solid rgb(88, 200, 212);
    }
}

.sendMsgBtn {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb(88, 200, 212) inset, 0 0 0 0 rgb(88, 200, 212);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}

.sendMsgBtn:hover {
    box-shadow: 0 0 10px 0 rgb(88, 200, 212) inset, 0 0 10px 4px rgb(88, 200, 212);
    color: rgb(88, 200, 212);
}

.toggleCommentsBtn {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #002878 0%, rgb(88, 200, 212) 50%, #6ab1d7 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}

.toggleCommentsBtn:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}