@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.peopleToFollowSection {
    width: 30%;
}

.peopleToFollowTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 19px;
    // text-align: center;
}

.peopleToFollowContainer {
    margin-bottom: 12px;
}