@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.personContainer {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    // margin-bottom: 12px;
}

.person {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.personAvatarAndNameContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}